.menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333333;
}

.menu img {
	background-color: #333333;
}

.menu li {
	float: left;
	padding: 10px;
	margin-top: 25px;
	margin-bottom: 5px;
}

.menu {
    display: block;
  color: white;
  text-align: center;    
  text-decoration: none;
}

.menu li a:hover {
  background-color: #111111;

}

.nolinkurl {
	text-decoration: none;
	color: black;
}

body {
	font-family: Arial;
	text-align: justify;
}

/*.content {
	display: block;
  margin-left: auto;
  margin-right: auto;
  padding-right: 300px;
  padding-left: 300px;
}*/
 .images .content {
 	  display: block;
  margin-left: auto;
  margin-right: auto;
 }
